body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* _____________________________________________________________________ */
/* Reusable screen styles */
.screen-layout_header {
  position: sticky;
  top: 0;
}

.screen-layout_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 25px 42px 25px;
  background-color: transparent;
}

.screen-layout_back-arrow {
  background-image: url("../public/assets/back-arrow.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.screen-layout_logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.screen-layout_logout {
  background-image: url(../public/assets/logout.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.screen-layout__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin: 0 0 52px 0;
}

.screen-layout__active {
  fill: #7db9b3;
}

.screen-layout__screen {
  margin: 0 24px;
  padding-bottom: 60px;
  overflow-y: auto;
  height: calc(100vh - 132px);
  box-sizing: border-box;
}

.screen-layout__single-element {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 33px;
  padding: 15px;
  display: flex;
  gap: 17px;
  align-items: flex-start;
  margin-bottom: 16px;
}

.screen-layout__single-element:last-of-type {
  margin-bottom: 0;
}

.screen-layout__user-avatar_border {
  border: 1px solid #000;
  width: fit-content;
  border-radius: 35px;
  padding: 2px;
}

.screen-layout__user-avatar {
  background-image: url(https://i1.sndcdn.com/avatars-2YxylsxlqHnbV3SL-opz3ZQ-t500x500.jpg);
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 35px;
}

.screen-layout__user-name {
  margin: 0 0 9px 0;
  text-transform: capitalize;
  font-size: 12.8px;
  line-height: 19px;
}
/* _____________________________________________________________________ */
/* Feed */
.screen-layout__background_feed {
  background-image: url(../public/assets/feed-people_background.png);
  background-repeat: no-repeat;
  background-position: 177% -56%;
}

.feed-container__box {
  background-image: url(https://ychef.files.bbci.co.uk/976x549/p06dmw7v.jpg);
  width: 100%;
  height: 288px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 7px 20px #c4c4c4;
  border-radius: 20px;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}

.feed-container__box:last-of-type {
  margin-bottom: 0;
}

.feed-continer__data {
  display: flex;
  flex-direction: column;
}

.feed-container__avatar {
  background-image: url(https://i1.sndcdn.com/avatars-2YxylsxlqHnbV3SL-opz3ZQ-t500x500.jpg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.feed-container__name {
  font-size: 12.8px;
  line-height: 19px;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 2px 0px;
}

.feed-container__time {
  font-size: 12.8px;
  line-height: 19px;
  color: #d8d8d8;
  margin: 0;
}

.feed-container__likes-container {
  background: rgba(229, 229, 229, 0.4);
  border-radius: 35px;
  width: fit-content;
  font-size: 12.8px;
  line-height: 19px;
  color: #fff;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px 19px;
  align-self: center;
}

.feed-container__likes-icon {
  background-image: url(../public/assets/like_icon.png);
  width: 16px;
  height: 15px;
  background-size: contain;
  background-position: center;
  padding: 2.5px;
  box-sizing: border-box;
}

/* _____________________________________________________________________ */
/* Messages */
.screen-layout__background_messages {
  background-image: url(../public/assets/messages_background.png);
  background-repeat: no-repeat;
  background-position: 58% 410%;
}

.messages-container__messages {
  margin-top: 54px;
}

.messages-container__user-message {
  font-size: 12.8px;
  line-height: 19px;
  color: #656565;
  /* display: inline-block; */
  overflow: hidden;
  color: #656565;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.messages-container__user-message:first-letter {
  text-transform: capitalize;
}

/* _____________________________________________________________________ */
/* Add */
.add__img-preview_container {
  width: 100%;
  height: 288px;
  /* background-size: cover;
  background-position: center; */
  box-shadow: 0px 7px 20px #c4c4c4;
  border-radius: 20px;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}

.add__img-preview_container input {
  display: none;
}

.add__img-preview_container label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__uploaded-img {
  display: block;
  width: 100%;
  height: 288px;
  object-fit: contain;
}

.add__button-container {
  display: flex;
  justify-content: center;
}

.add__button {
  font-family: "Poppins";
  font-size: 12.8px;
  line-height: 19px;
  border: none;
  background-color: transparent;
  color: #fff;
  transform: rotate(+45deg);
  position: absolute;
  left: -2%;
  top: 32%;
}

.add__button-border {
  background: #000000;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
  border-radius: 23px;
  transform: rotate(-45deg);
  width: 56px;
  height: 56px;
  position: relative;
}

/* _____________________________________________________________________ */
/* People */
.screen-layout__background_people {
  background-image: url(../public/assets/feed-people_background.png);
  background-repeat: no-repeat;
  background-position: -56% -83%;
}

.people-container__single-user {
  align-items: center;
  justify-content: space-between;
}

.people-container__user-data {
  display: flex;
  align-items: center;
  gap: 17px;
}

.people-container__user-name {
  margin: 0;
}

.people-container__button {
  color: #656565;
  background-color: transparent;
  border: none;
  font-family: "Poppins";
  font-size: 12.8px;
  line-height: 19px;
  padding: 0;
  cursor: pointer;
}

/* _____________________________________________________________________ */
/* Single User */
.screen-layout__background_myprofile {
  background-image: url(../public/assets/profile_background.png);
  background-repeat: no-repeat;
  background-position: 50% -47%;
}

.single-user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0;
}

.feed-container__data-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.single-user__profile-picture {
  background-image: url(https://i1.sndcdn.com/avatars-2YxylsxlqHnbV3SL-opz3ZQ-t500x500.jpg);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  width: 120%;
  height: 120%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
  left: -10px;
}

.single-user__profile-picture_border {
  width: 95px;
  height: 95px;
  border: 2px solid #000;
  border-radius: 35px;
  padding: 3px;
  transform: rotate(45deg);
  overflow: hidden;
}

.single-user__profile-picture_box {
  height: 100%;
  width: 100%;
  border-radius: 35px;
  overflow: hidden;
  box-sizing: border-box;
}

.single-user__profile-data_name {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 4px;
}

.single-user__profile-data_login {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 18px 0;
  color: #4e4e4e;
}

.single-user__profile_button {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19px;
  color: #656565;
  border: none;
  background-color: transparent;
}

.single-user__profile-data {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}

.single-user__profile-data_title {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 6px 0;
}

.single-user__profile-data_subcontainer {
  text-align: center;
}

.single-user__profile-data_number {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

.single-user__photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.single-user__photo {
  background-image: url(https://resizing.flixster.com/8DUmZAreHkhvV2ARGjPfH9ehlks=/fit-in/1152x864/v2/https://flxt.tmsimg.com/assets/p14459143_e_h9_aa.jpg);
  width: 156px;
  height: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 19px;
  background-position: center;
}
